<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">
                &copy; Copyright {{ .Site.Copyright }}
            </div>
            <div class="col-md-6 col-sm-6 text-center text-lg-right">    
                <a target="_self" rel="noopener"
                    href="https://www.huntrecht.com">Huntrecht</a>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->
